<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Логин</h1>
    <form action="{{ url_for('user_log_in') }}" method="post">
        <label for="username">Никнейм:</label>
        <input type="text" id="username" name="username" required><br>
        
        <label for="pwd">Пароль:</label>
        <input type="password" id="pwd" name="pwd" required><br>
        
        <button type="submit">Логин</button>
    </form>
</body>
</html>