<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h1>Регитсрация</h1>
    <form action="{{ url_for('user_form') }}" method="post">
        <label for="name".Имя:</label>
        <input type="text" id="name" name="name" required><br>
        
        <label for="surname">Фамилия:</label>
        <input type="text" id="surname" name="surname" required><br>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>
        
        <label for="username">Никнейм:</label>
        <input type="text" id="username" name="username" required><br>
        
        <label for="pwd">Пароль:</label>
        <input type="password" id="pwd" name="pwd" required><br>
        
        <label for="confirm_pwd">Подтвердите пароль:</label>
        <input type="password" id="confirm_pwd" name="confirm_pwd" required><br>
        
        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>